doctype html 
html
  head
      title Suarez Football Academy
      block style 
      block scripts
      
  body
    block content
  
  footer#footersection 
    | Dracula Starring Luis Suarez Coming soon to your nearest theatre
            